@use "./typography" as *;
@use "./variables" as *;

// CSS Resets

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", "Courier New", monospace;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}
