@use "../styles/partials/variables" as *;

// .login-container {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
// }
.login-container__card-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 8rem;
}

.login__title {
  text-align: center;
  font-weight: 600;
  margin: 2rem;
  font-size: 4rem;
}

.login-page {
  background-color: $primary-background-colour;
  display: flex;
  &__whole {
    background-color: $primary-background-colour;
  }
}

.card-divider {
  border-left: 1px solid $black;
  margin: 5rem 5rem;
}
